---
import MainLayout from "../layouts/MainLayout.astro"
import Header from "../layouts/Header.astro"
import SkillsSection from "../layouts/SkillsSection.astro"
import ProjectsSection from "../layouts/ProjectsSection.jsx"
import Education from "../layouts/EducationSection.astro"
import ContactMeSection from "../layouts/ContactMeSection.astro"

const pageTitle = "Darrel Traballo - Game Developer Portfolio"
---

<MainLayout title={pageTitle}>
    <!-- Header -->
    <Header />

    <!-- Body -->
    <div>
        <!-- Skills -->
        <SkillsSection />

        <!-- Projects -->
        <ProjectsSection client:load />

        <!-- Education -->
        <Education />
    </div>
</MainLayout>
