---
import Layout from "../layouts/Layout.astro"
import Header from "../layouts/Header.astro"
import SkillsSection from "../layouts/SkillsSection.astro"
import ProjectsSection from "../layouts/ProjectsSection.astro"
import Education from "../layouts/EducationSection.astro"
import ContactMeSection from "../layouts/ContactMeSection.astro"

const pageTitle = "Darrel Traballo: Game Developer"
---

<Layout title={pageTitle}>
    <!-- Header -->
    <Header />

    <!-- Body -->
    <div>
        <!-- About Me -->

        <!-- Skills -->
        <SkillsSection />

        <!-- Projects -->
        <ProjectsSection />

        <!-- Education -->
        <Education />

        <!-- Contact -->
        <ContactMeSection />
    </div>
</Layout>
