---
import PageIcon from "../assets/images/icons/mdi--gamepad-variant.svg"
import TestBackground from "../components/background-effects/TestBackground.jsx"
import DelaunayBackground from "../components/background-effects/DelaunayBackground.jsx"

const title = "Playground"
const isLocal = import.meta.env.MODE === "development"
const pageTitle = isLocal ? "[DEV] " + title : title
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href={PageIcon.src} />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body
        class="bg-gradient-to-b from-gradient-start to-gradient-end bg-fixed text-primary-font min-h-screen flex flex-col">
        <div class="fixed inset-0 -z-10 h-full">
            <DelaunayBackground client:load />
        </div>
        <style>
            body {
                font-family: "Roboto", sans-serif;
                min-height: 100vh;
            }
        </style>
    </body>
</html>
