---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Resume Generator">
    <div class="text-center">
        <h1 class="text-5xl px-8 py-4 font-bold">Resume Generator</h1>
        <p class="text-lg pb-4">What the skibidi</p>
    </div>
</Layout>
