---

---

<footer class="text-center py-6">
    <small>&copy; <span id="copyright"></span> Railee Darrel Traballo | All rights reserved.</small>
    <a
        href="/resume-generator"
        class="fixed bottom-2 right-2 p-2 bg-transparent text-transparent no-underline hover:bg-black/50 hover:text-white"
        tabindex="-1"></a>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString()
</script>
