---
---

<footer class="text-center py-6">
    <small>&copy; <span id="copyright"></span> Railee Darrel Traballo | All rights reserved.</small>
</footer>

<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString();
</script>