---

---

<section id="about" class="mb-12">
    <h2 class="text-3xl font-bold mb-4">About Me</h2>
    <p class="text-justify text-lg px-4">
        Yo, I'm Darrel, and I'm a <span id="age"></span> year old game developer passionate about creating engaging and interactive
        experiences through code. I enjoy tackling both gameplay mechanics and technical challenges like algorithm development
        and recreating existing game mechanics, and I'm always excited to learn and improve!
    </p>
</section>

<script>
    const dob = new Date("11/21/2002")
    var diff_ms = Date.now() - dob.getTime()
    var age = Math.abs(new Date(diff_ms).getUTCFullYear() - 1970)
    document.querySelector("#age").textContent = age.toString()
</script>
